// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
//color
//$primary:linear-gradient(90deg, #2C4CC9 0%, #1083F3 103.05%);
//btn
$btn-font-size:'Sofia Pro';
$btn-font-size:20px;
$btn-line-height: 20px;
$btn-font-weight:600;
